<div class="mt-5">
    <button *ngFor="let item of tabItems"
        [style.background-color]="selectedMasterTab === item ? '#dfdfef' : 'white'"
        (click)="selectedMasterTab = item" class="btn btn-primary mt-2 mx-2 categoriesButton">
        {{ item }}
    </button>
</div>
<div class="w-100 d-flex mt-5 row mb-5" style="max-width: 100%;">
    <ng-container *ngFor="let item of listCardData">
        <ng-container *ngTemplateOutlet="
    listCards;
    context: { $implicit: item }
  "></ng-container>
    </ng-container>

</div>
<ng-template #listCards let-item>
    <div class="col-md-2  position-relative responsiveFont fm-rubik">
         <div class="card">
            <div class="">
                <img class="w-100" [src]="item.imgUrl"
                    style="border-radius: 4% 4% 0 0;" />
            </div>
            <div class="card-body">
                <div class="fw-bold">
                    {{item.title}}
                </div>
                <div class="web-left mt-2"><span>{{ item.description }}</span></div>
                <div class="fw-bold"><span>{{ item.price }}</span></div>
                <div class="fw-bold">
                <button class="btn btn-primary  btn-dec-ourshop " (click)=decreaseBtnClick() >-</button>
                <span> {{this.counter}} </span>
                <button class="btn btn-primary btn-ourshop " (click)=increaseBtnClick() >+</button>
                <button class="btn btn-primary  btn-ourshop">Add to cart</button>
                </div>
        </div>
        </div>
    </div>
</ng-template>